name: Deletar reposit贸rio via Terraform

on:
  workflow_dispatch:
    inputs:
      repo_name:
        description: 'Nome do reposit贸rio a ser deletado'
        required: true
        type: string

jobs:
  delete-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout c贸digo
        uses: actions/checkout@v4

      - name: Instalar Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Inicializar Terraform
        run: terraform init

      - name: Deletar reposit贸rios
        run: |
            terraform import github_repository.source_code_repo humix-kubernetes/${{ github.event.inputs.repo_name }}
            terraform import github_repository.config_repo humix-kubernetes/${{ github.event.inputs.repo_name }}-config
            terraform apply -auto-approve \
                -var="github_token=${{ secrets.GH_PAT_ADMIN }}" \
                -var="github_owner=${{ github.repository_owner }}" \
                -var="repo_name=${{ github.event.inputs.repo_name }}" \
                -var="delete=true"